*{
    padding : 0;
    margin : 0;
}
.page{
    
    height: 100vh;
    width: 100%;
    background-image: url("bg.png");
    background-size: cover;
    
}


.header{
    height: 4vh;
    width: 100%;
    color:antiquewhite;
    font-family:'Times New Roman', Times, serif;
    font-size: 0.7rem;
    display: flex;
    justify-content: end;
    gap:2rem;
    position: relative;
    top:1.8rem;
    right: 2rem
}
.header a{
    color: aquamarine;
    text-decoration: none;
}
.content{
    background-color: rgba(255,255,255, 0.2);
    height: 30rem;
    width: 22%;
    min-width:250px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:2rem;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#log{
    margin-top:1rem;
    height: 3rem;
    color: rgb(92, 83, 83);
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    


}
@media (max-width:700px) {
    #log{
        font-size:1.3rem;
    }
    
}
#username{
    height: 2rem;
    width: 80%;
    border-style: none;
    border-radius: 1rem;
    border:1px solid rgb(232, 100, 168);
    color:rgb(140, 98, 128);
    margin-top: 10rem;
    

}
#password{
    height: 2rem;
    width: 80%;
    border-style: none;
    border-radius: 1rem;
    border:none;
    margin-top:2rem;
}
#submit{
    background-color: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    color:rgb(61, 42, 42);
    font-size:0.5rem;
    height: 1.7rem;
    width:3rem;
    border:none;
    border-radius: 1rem;
    margin-top: 3rem;
}


.content:hover{
    border:2px solid rgba(255,255,255, 0.2);
}